* {
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    font-family: 'Merriweather', serif;
    width: 100%;
}

hr {
    width: 19em;
    background-color: rgba(0, 0, 0, 1);
    height: .2em;
    margin-top: 0px;
    margin-bottom: 1px;
}

fieldset {
    border: none;
}

textarea {
    width:100%;
    height: 100px;
    background-color:rgb(235, 233, 233);
    border-radius: 5px;
}

legend {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

button {
background-color:rgb(129, 206, 193);
width: 100%;
height: 75px;
border-radius: 5px;
margin-right: 10px;
border: none;
color: white;
font-size: 25px;
}

footer {
    text-align: center;
}

div {
    margin-bottom: 10px;
  }


  input {
    font-size: 18px;
}
input[placeholder] {
    font-size: 14px;
}

input:focus, textarea:focus, select:focus {
    outline: 2px solid rgb(93, 120, 143);
}

input::placeholder {
font-style:italic;
color: rgb(165, 161, 161);
text-align: right;
margin-right: 1.5em;
}

#zip{
width: 50%;
display: flex;
margin-top: 1em;
}

.cont {
   width: 100%;
   height: 100%;
}

fieldset.cont input, #state, .m-row > input  {
width: 100%;
height: 60px;
background-color: rgb(235, 233, 233);
border: none;
margin-top: 10px;
margin-bottom: 10px;
border-radius: 10px;
}

div.news {
    display: flex ;
    flex-wrap: nowrap;
    margin: 0 ;
    padding: 0;
    align-content:flex-start;
}

.news input {
    margin-right: 1em;
}
.intro {
    
    text-align: center;
    width: 100vw;
}

.intro h1 {
    width: 100%;
    background: rgb(93, 120, 143);
    margin: 0;
    font-size: 1.3em;
    padding: 1.5em;
    color:white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    list-style-type: none;
    padding-left: 0px;
}

.m-row {
    display: flex;
   align-items: flex-start; 
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.m-row > input {
    height: 3em;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px ) {
    body {
     max-width: 100%;
    }
 .m-row {
     flex-direction: row;
     justify-content: flex-end;
 }

 .m-row > label {
    flex: 1;
    margin: auto;
 }

 .m-row > input, select {
     flex: 3;
 }

    hr {
        width: 100%;
    }

 #zip {
     width: 25%;
 }
      
      
}