* {
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
   /*  justify-content: space-around; */
    /* margin-left:0; */
}

hr {
    width: 70%;
}

fieldset {
    border: none;
    
}

.cont {
    width: 100%;
}

div.news {
    display: flex !important;
    flex-wrap: nowrap;
    margin: 0 !important;
    padding: 0 !important;
    align-content:flex-start;
}

.intro {
    text-align: center;
    width: 100vw;
}

.intro h1 {
    display: block;
    background: rgb(93, 120, 143);
    margin: 0;
    font-size: 1.3em;
    padding: 1.5em;
    color:white;
}

